<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/img/main/top-slider1.png">
    <div class="caption container">
      <h1>Pamper your<br> sense of touch.</h1>
      <h5>Ergonomic shaping and luxury materials<br> that your hands will thank you for</h5>
      <btn
        size="s"
        type="text"
      >check it out</btn>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/main/top-slider2.png">
    <div class="caption container">
      <h1>Pamper your<br> sense of touch.</h1>
      <h5>Ergonomic shaping and luxury materials<br> that your hands will thank you for</h5>
      <btn
        size="s"
        type="text"
      >check it out</btn>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/main/top-slider3.png">
    <div class="caption container">
      <h1>Pamper your<br> sense of touch.</h1>
      <h5>Ergonomic shaping and luxury materials<br> that your hands will thank you for</h5>
      <btn
        size="s"
        type="text"
      >check it out</btn>
    </div>
  </ng-template>
</ngb-carousel>
